

.imgCart{
    width: 25px;
    height:auto;

}

.containerCart{

    display: flex;
    position: absolute;
    margin: auto;
    width: 70%;
    padding: 50px;

   

  
}

.containerCart img{
    width: 300px;
}

.nameCart{

    color: brown;
}
.priceCart{

    color: brown;
}


.borrar{
    border: none;
    margin: 15px;
    background: none;
    box-shadow: 2px 5px 20px 0 brown;
    border-radius: 2em;
    transition: .3s;

}

.borrar:hover{

    background-color: brown;
    color : white;
}

.terminar{
    border: none;
    margin: 15px;
    background: none;
    box-shadow: 2px 5px 20px 0 brown;
    border-radius: 2em;
    transition: .3s;
}

.terminar:hover{
    background-color: brown;
    color : white;
}






.total{

    color: brown;
    text-align: center;
   margin: 150 px;

}

.elijeProduct{

    text-align: center;
    color: brown;
}

.volver {
    text-align: center;
}

.eliminar {
    border-radius: 3em;
    background-color: brown;
    color: white
}

.eliminar:hover{

    background-color:white;
    color: brown;
  
}