.container1{
  text-align: center;
  background-color: rgba(246, 204, 204, 0.876);
  height: 40%;
  width: 20%;
  margin: 20px;
  border: 2px solid brown

  
}

.detailParrafo{
   width:50%;
   height: 50%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.detailName{

  text-align: center;
  float: left;
  }

  .cardButton{
    text-align: center;
  }

 


  